body {
    font-family: 
}
.container {
    padding: 0;
    display: flex;
    background-color: rgb(255, 255, 255);
    
}
.row {
    display: flex;         
}
nav{
    padding: 0;
}
ul {
    list-style-type: none;
    display: flex;
    gap: 5px;
}
#hero {
    background-color: rgb(248, 165, 64);
    display: flex;
    position: relative;
    max-width: 500px;
    min-height: 200px;
    
}
p {
    color: aliceblue;
    padding: 90px 20px 0 30px;
    font-size: large;
}

button {
    background-color:  rgb(248, 165, 64);
    border-color:  rgb(248, 165, 64);
}
@media (min-width: 667px)
