body {
    font-family: 'Work-sans', sans-serif; 
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    color: #666;
}
.container {
    max-width: 1170px;
    width: 100%;
    margin: 0 auto;
}
.row {
    display:flex;
    flex-wrap: wrap;
}
.col { 
   width: 100%;
}
.col-1 {
    width: calc(1 / 12 * 100%);
}
.col-2 {
    width: calc(2 / 12 * 100%);
}
.col-3 {
    width: calc(3 / 12 * 100%);
}
.col-4 {
    width: calc(4 / 12 * 100%);
}
.col-5 {
    width: calc(5 / 12 * 100%);
}
.col-6 {
    width: calc(6 / 12 * 100%);
}
.col-7 {
    width: calc(7 / 12 * 100%);
}
.col-8 {
    width: calc(8 / 12 * 100%);
}
.col-9 {
    width: calc(9 / 12 * 100%);
}
.col-10 {
    width: calc(10 / 12 * 100%);
}
.col-11 {
    width: calc(11 / 12 * 100%);
}
span { 
    color: #FF9900;
}
.menu-nav {
    display: flex;
    justify-content: right;
}
.hero { 
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.7) 100%);
}
.menu {
    list-style-type: none;
    display: flex;
    gap: 5px;
}
h5 {
    color: #FF9900;
}
h2 {
    font-size: 60px;
    padding-top: 10%;
}
#travel-tip {
    margin-top: 100px;
}
article {
    padding-top: 20%;
    padding-bottom: 6.2%;
}
#hero {
    background-color: rgb(248, 165, 64);
    display: flex;
    position: relative;
    max-width: 500px;
    min-height: 200px;
}
button {
    background-color:  rgb(248, 165, 64);
    border-color:  rgb(248, 165, 64);
    color: white;
}
.travel-tip {  
    width: 1168px;
    height: 677px;
    
    position:relative; 
}
#read-more { 
    width: 170px; 
    height: 64px;

}
#gallery-trip {
    margin-top: 150px;
    margin-bottom: 30px;
}
#hashtag { 
    color: #FF9900;
    height: 20px;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    margin: 0px; 
} 
.gallery-card {
    text-align: center;
    height: 270px;
    background-color: #000;
}
.p-30 {
    padding: 30px;
}
#gallery-cards {
    display: flex;
    gap: 30px;
}
#gallery-cards > div {
    flex: 1;
}

.gap-30   {
    gap: 30px;
} 
.caption {
    color: white;
    padding: 35%;
}
#button { 
    background-color:  rgb(248, 165, 64);
    color: white;
    border-color:  rgb(248, 165, 64);
    padding: 14px 30px ; 
    position: absolute;
    margin-top: 45px;
    margin-left: -60px;
} 
#exciting-trip h2 {
    font-size: 60px;
    color: black;
}

#exciting-trip-button-wrapper{
    display: flex;
    justify-content: flex-end;
    margin-top: 160px;
    height: 40px;
}
#exciting-trip-img {
    margin-top: 80px;
}
/* ATE CLYDE */
.content { 
    text-align: center;
}
#story h2 { 
    margin-bottom: 30px;
}
#active-user {
    border: 1px solid black; 
}
.active-user-wrapper { 
    margin: 0 auto;

}
#user-profile { 
    width: 1200px;
    height: 800px;
    margin-bottom: 80px;
}
#arrow-button { 
    background-color: #FF9900;
    display: flex;
    justify-content: center;
}
#search-input { 
    background-color: white;
    margin-top: 45px;
    margin-bottom: 30px;
    max-height: 180px;
}
#arrow-icon { 
    width: 48px;
    height: 48px;
}
footer { 
    background-color: #444444;
    color: white;
}
#final-word { 
    font-size: 3rem;
}
#item-home { 
    font-weight: 700;
    color:#000;
}
#brand { 
    font-size: 20px;
    font-weight: 700;
}
#pagination { 
    display: flex;
    justify-content: space-between;
    height:801px;
    background: linear-gradient(180deg, rgba(255,153,0) 100%, rgba(0,0,0,0.8) 50%);
}
#hero-heading {
    padding-left: 100px;
}
#wonderful{ 
    margin-top: 394px;
}
#value-item1 {
    padding-top:56px;
    margin-bottom: 452px;
}
#hero-heading { 
    padding-bottom: 126px;
}
h2 { 
    font-family: 'Merriweather', serif;
    font-style: normal;
    font-weight:700;
    font-size:52px;
    letter-spacing: 2px;
    color: #000;
}
#intro { 
    color: #FFF;
}
.copyright-footer {
    padding: 35px;
}
.youtravel-header {
    padding: 35px;
}
.content-visitor {
    padding-left: 50px;
    font-size: 20px;
}
#final-word-section {
    margin-bottom: 200px;
}
